{% extends 'base.html' %}
{% block title %} Agregar Evolucion {% endblock %}
{% block content %} 
	<form action"." method="POST">
		{% csrf_token %}
		{{ form_evo.as_p }}
<script>
  $(function() {
    $( "#datepicker" ).datepicker({
      changeMonth: true,
      changeYear: true,
      yearRange: "1900:2015",
      dateFormat: 'dd/mm/yy',
      // You can put more options here.

    });
  });
  </script>
		<input class="btn btn-success" type="submit" value="Guardar Evolucion">
		<input class="btn btn-inverse" type="reset" value="Limpiar">
    <a class="btn " href="/historia/{{his.id}}"> Cancelar </a>
	</form>
	<br>
	
{% endblock %}